:root {
    --root-font-size: 2vh;
    --root-font-family: 'Source Code Pro', monospace;
    --main-bg-color: #25282b;
    --sec-bg-color: #171a1d;
    --tet-bg-color: #101316;
    --link-href: #2ac40b;
    --link-none: #7e7e7e;
}