* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*::selection {
    color: white;
    background-color: var(--purple-dark);
}

.clear-float {
    clear: both;
}

.ellipsis-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.shiftOnHover {
    transition: box-shadow 150ms, transform 150ms;
    box-shadow: 
        0px 0px transparent,
        0px 0px transparent,
        0px 0px transparent, 
        0px 0px transparent, 
        0px 0px transparent;
}

.shiftOnHover:hover {
    cursor: pointer;
    transform: translate(5px, -5px);
    box-shadow:
        -1px 1px red,
        -2px 2px red,
        -3px 3px red,
        -4px 4px red,
        -5px 5px red;
}

.shiftOnHover:hover[data-channel-color="1"] {
    box-shadow:
        -1px 1px var(--recommended-channel-color-1),
        -2px 2px var(--recommended-channel-color-1),
        -3px 3px var(--recommended-channel-color-1),
        -4px 4px var(--recommended-channel-color-1),
        -5px 5px var(--recommended-channel-color-1);
}

.shiftOnHover:hover[data-channel-color="2"] {
    box-shadow:
        -1px 1px var(--recommended-channel-color-2),
        -2px 2px var(--recommended-channel-color-2),
        -3px 3px var(--recommended-channel-color-2),
        -4px 4px var(--recommended-channel-color-2),
        -5px 5px var(--recommended-channel-color-2);
}

.shiftOnHover:hover[data-channel-color="3"] {
    box-shadow:
        -1px 1px var(--recommended-channel-color-3),
        -2px 2px var(--recommended-channel-color-3),
        -3px 3px var(--recommended-channel-color-3),
        -4px 4px var(--recommended-channel-color-3),
        -5px 5px var(--recommended-channel-color-3);
}

.shiftOnHover:hover[data-channel-color="4"] {
    box-shadow:
        -1px 1px var(--recommended-channel-color-4),
        -2px 2px var(--recommended-channel-color-4),
        -3px 3px var(--recommended-channel-color-4),
        -4px 4px var(--recommended-channel-color-4),
        -5px 5px var(--recommended-channel-color-4);
}

.shiftOnHover:hover[data-channel-color="5"] {
    box-shadow:
        -1px 1px var(--recommended-channel-color-5),
        -2px 2px var(--recommended-channel-color-5),
        -3px 3px var(--recommended-channel-color-5),
        -4px 4px var(--recommended-channel-color-5),
        -5px 5px var(--recommended-channel-color-5);
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-container > .tooltip-text {
    width: 100px;
    visibility: hidden;
    background-color: white;
    color: var(--main-bg-color);
    text-align: center;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -50px;
    z-index: 5000;
    font: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 2px 5px;
    display: inline-block;
    border-radius: 5px;
}

.tooltip-container > .tooltip-text::after {
    content: "";
    position: absolute;
    top: -10px; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    z-index: 5001;
}

.tooltip-container:hover > .tooltip-text {
    visibility: visible;
}

.channel-tooltip {
    position: relative;
}

.channel-tooltip > .tooltip-text {
    width: 100px;
    background-color: rgb(24,24,27);
    color: white;
    display: none;
    text-align: center;
    position: absolute;
    left: calc(100% + 12px);
    z-index: 5000;
    font: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 6px;
    border-radius: 5px;
}

.channel-tooltip > .tooltip-text::after {
    content: "";
    position: absolute;
    right: 100%;
    top: calc(50% - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(24,24,27) transparent transparent;
    z-index: 5001;
}

.channel-tooltip:hover > .tooltip-text {
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--main-bg-color);
    position: relative;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--header-bg-color);
    z-index: 100;
    overflow: visible;
}

#nav {
    float: left;
    height: 100%;
    color: var(--text-color);
}

#twitch-icon {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    padding: 5px;
}

#twitch-icon #twitch-logo-side {
    fill: var(--purple-dark);
}

#twitch-icon #twitch-logo-main {
    fill: white;
}

#twitch-icon #twitch-logo-eyes {
    fill: var(--purple-dark);
}

.nav-item {
    float: left;
    display: block;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    color: var(--text-color);
    font-size: 19px;
    letter-spacing: 0px;
}

.nav-item:hover {
    color: var(--text-color);
}

.nav-item-inner:hover {
    color: var(--purple);
    cursor: pointer;
}

.nav-item-inner.special {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0;
    line-height: 20px;
    text-align: center;
}

.nav-item-inner.special:hover {
    background-color: var(--search-bar-top-button-on-hover);
    color: inherit;
}

.nav-item.selected .nav-item-inner {
    border-bottom: 2px solid var(--purple);
    color: var(--purple)
}

.nav-item.more {
    font-size: 24px;
    font-weight: 600;
    padding: 0 10px;
    line-height: 40px;
}

#search-bar-top {
    float: left;
    height: 100%;
    width: 400px;
    margin: 0 auto;
    padding: 6px 20px;
}

#search-bar-top > input {
    float: left;
    background-color: var(--search-bar-top-bg);
    border: none;
    height: 36px;
    width: calc(100% - 34px);
    padding: 5px 10px;
    border-radius: 6px 0 0 6px;
    border: 2px solid transparent;
    transition: background-color 0.15s, border 0.15s;
    caret-color: var(--text-color);
    color: var(--text-color);
    font-size: 14px;
}

#search-bar-top > input:focus {
    outline: none;
    background-color: black;
    border: 2px solid var(--purple-dark);
}

#search-bar-top > input::placeholder {
    font-weight: 500;
    font-size: 15px;
    color: var(--search-bar-top-placeholder);
}

#search-bar-top > div {
    float: left;
    width: 34px;
    height: 36px;
    padding: 0 5px;
    border-radius: 0 6px 6px 0;
    background-color: var(--search-bar-top-button-off);
    cursor: not-allowed;
}

#search-bar-top > div svg {
    fill: var(--search-bar-top-button-off-svg-fill);
}

#search-bar-top > div.on {
    background-color: var(--search-bar-top-button-on);
    cursor: pointer;
}

#search-bar-top > div.on svg {
    fill: var(--search-bar-top-button-on-svg-fill);
}

#search-bar-top > div.on:hover {
    background-color: var(--search-bar-top-button-on-hover);
}

#user {
    float: right;
    height: 100%;
    padding: 10px 5px 10px 0;
}

#user > * {
    margin: 0 5px;
    float: left;
    cursor: pointer;
}

#user > .svg-container {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

#user > .svg-container:hover {
    background-color: var(--search-bar-top-button-on-hover);
}

#user > .svg-container > svg {
    width: 20px;
    height: 20px;
    fill: var(--user-svg-fill);
}

#user > .svg-container > div {
    left: 12px;
    top:  0px;
    position: absolute;
    width: 18px;
    height: 16px;
    line-height: 14px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid var(--header-bg-color);
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--notification-color);
    font-size: 11px;
}

#user > .bitsy {
    position: relative;
    height: 100%;
    width: 100px;
    padding: 5px 10px 5px 8px;
    text-align: right;
    background-color: var(--user-bitsy-bg);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

#user > .bitsy:hover {
    background-color: var(--user-bitsy-bg-hover);
}

#user > .bitsy > svg {
    position: absolute;
    fill: var(--user-svg-fill);
    width: 20px;
    height: 20px;
    left: 8px;
}

#user > .channel-photo.live {
    position: relative;
}

#user > .channel-photo.live > svg {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -1px;
    right: -1px;
}

#leftPanel {
    position: absolute;
    top: 50px;
    left: 0;
    width: 240px;
    height: calc(100% - 50px);
    background-color: var(--leftPanel-bg-color);
    padding: 14px 0;
    overflow: visible;
    z-index: 50;
}

#leftPanel > p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 14px;
    margin-left: 10px;
    margin-top: 0;
}

.obserwowany {
    display: block;
    width: 100%;
    height: 42px;
    padding: 5px 10px;
}

.obserwowany:hover {
    background-color: var(--leftPanel-bg-hover);
}

.channel-photo {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 21px;
    background-size: contain;
    filter: brightness(0.8) grayscale(100%);
}

.channel-photo.live {
    filter: brightness(0.8);
}

.channel-info {
    width: 180px;
    height: 30px;
    margin-left: 10px;
    float: left;
}

.channel-info * {
    letter-spacing: 0px;
    color: var(--text-color);
}

.channel-info-desc {
    height: 100%;
    width: 135px;
    float: left;
}

.channel-info-name {
    width: 100%;
    height: 16px;
    font-size: 15px;
    font-weight: 700;
}

.channel-info-new {
    width: 100%;
    height: 14px;
    font-size: 12px;
    font-weight: 300;
}

.channel-info-status {
    height: 100%;
    width: 40px;
    margin-left: 5px;
    float: left;
    font-size: 12px;
    overflow: visible;
    white-space: nowrap;
    text-align: right;
}

#leftPanel > div:not(#bottom-searchbar) {
    width: 100%;
    height: 42px;
    padding: 5px 0;
    margin-left: 10px;
}

#leftPanel > div > p {
    color: var(--purple);
    font-size: 11px;
    cursor: pointer;
}

#leftPanel > div > p:hover {
    text-decoration: underline;
}

#bottom-searchbar {
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 10px;
    border-top: 1px solid var(--light-gray);
    z-index: 1000;
    background-color: var(--leftPanel-bg-color);
}

#bottom-searchbar > input {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 5px 10px 5px 30px;
    background-color: var(--text-input-bg);
    transition: background-color 0.2s, border 0.2s;
    color: white;
    font-weight: 300;
}

#bottom-searchbar > input:focus {
    background-color: black;
    border: 2px solid var(--purple-dark);
    outline: none;
}

#bottom-searchbar > input::placeholder{
    font-size: 12px;
    color: #c6c6c6;
    font-weight: 500;
}

#bottom-searchbar > svg{
    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 20px;
}

#contentContainer {
    position: absolute;
    top: 50px;
    left: 240px;
    width: calc(100% - 240px);
    height: calc(100% - 50px);
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 50px;
}

#contentContainer > #carousel {
    width: 100%;
    height: 350px;
    position: relative;
}

#contentContainer > #carousel > * {
    position: absolute;
}

#contentContainer > #carousel > .carousel-item-1 {
    top: 70px;
    left: 143px;
    z-index: 5;
    cursor: pointer;
}

#contentContainer > #carousel > .carousel-item-2 {
    top: calc(95px / 2);
    left: calc(((100% - 750px) / 2 - 143px) / 2 + 143px);
    z-index: 10;
    cursor: pointer;
}

#contentContainer > #carousel > .carousel-item-3 {
    width: 750px;
    height: 300px;
    top: 25px;
    left: calc((100% - 750px) / 2);
    z-index: 15;
}

#contentContainer > #carousel > .carousel-item-3 > #carousel-item-3-video {
    width: 530px;
    height: 300px;
    float: left;
}

#contentContainer > #carousel > .carousel-item-3 > #carousel-item-3-video:focus {
    outline: none;
}

#contentContainer > #carousel > .carousel-item-3 > #carousel-item-3-desc {
    width: 220px;
    height: 300px;
    background-color: var(--main-carousel-item-3-desc-bg);
    float: left;
    padding: 10px;
    position: relative;
}

#carousel-item-3-desc > #carousel-channel-info {
    width: 100%;
    height: 54px;
    margin-bottom: 10px;
}

#carousel-item-3-desc > #carousel-channel-info > #carousel-channel-info-picture {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-image: url('../Media/Image/carousel-item-3-profile615.jpg');
    background-position: center;
    background-size: contain;
    float: left;
}

#carousel-item-3-desc > #carousel-channel-info > #carousel-channel-info-name-container {
    width: 140px;
    height: 54px;
    float: left;
    margin-left: 10px;
}

#carousel-item-3-desc > #carousel-channel-info > #carousel-channel-info-name-container > #carousel-channel-info-name {
    font-size: 12px;
    font-weight: 700;
    color: var(--purple-dark);
}

#carousel-item-3-desc > #carousel-channel-info > #carousel-channel-info-name-container > #carousel-channel-info-game {
    margin-top: 2px;
    height: 14px;
    font-size: 12px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--purple-dark);
}

#carousel-item-3-desc > #carousel-channel-info > #carousel-channel-info-name-container > #carousel-channel-info-viewcount {
    font-size: 14px;
    margin-top: 4px;
    color: var(--text-color);
}

#carousel-item-3-desc > #carousel-channel-info > #carousel-channel-info-name-container a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#carousel-item-3-desc > #carousel-stream-category {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

.category {
    font-size: 12px;
    border-radius: 800px;
    background-color: var(--category-bg);
    float: left;
    cursor: pointer;
    color: var(--text-color);
    padding: 3px 8px;
    margin: 2px 2px;
}

.category:hover {
    background-color: var(--category-bg-hover);
}

#carousel-item-3-desc > #carousel-channel-desc {
    height: 186px;
    width: 100%;
    color: var(--text-color);
    font-size: 13px;
    overflow: hidden;
    line-height: 16x;
}

#carousel-item-3-desc > #carousel-channel-desc-fadeout {
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    height: 50px;
    background-image: linear-gradient(to bottom, transparent, var(--main-carousel-item-3-desc-bg));
}

#contentContainer > #carousel > .carousel-item-4 {
    top:  calc(95px / 2);
    right: calc(((100% - 750px) / 2 - 143px) / 2 + 143px);
    z-index: 10;
    cursor: pointer;
}

#contentContainer > #carousel > .carousel-item-5 {
    top: 70px;
    right: 143px;
    z-index: 5;
    cursor: pointer;
}

#contentContainer > #carousel > .carousel-hover-scale {
    filter: brightness(0.5);
    transform: scale(1);
    transition: filter 0.3s, transform 0.3s;
}

#contentContainer > #carousel > .carousel-hover-scale:hover {
    filter: brightness(0.8);
    transform: scale(1.02);
}

#contentContainer > #carousel > .carousel-arrow {
    height: 34px;
    width: 34px;
    padding: 5px;
    top: 158px;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    cursor: pointer;
}

#contentContainer > #carousel > .carousel-arrow:hover {
    background-color: var(--main-carousel-arrow-hover-bg);
}
#contentContainer > #carousel > .carousel-arrow > svg {
    fill: var(--main-carousel-arrow-svg-fill);
}

#contentContainer > #carousel > .carousel-arrow.left {
    left: 30px
}

#contentContainer > #carousel > .carousel-arrow.right {
    right: 30px;
}

#contentContainer > #recomended-channels {
    width: 100%;
    padding: 0 30px;
    margin-top: 20px;
}

#contentContainer > #recomended-channels > #recomended-channels-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--text-color);
}

#contentContainer > #recomended-channels > .channel-container {
    float: left;
    width: calc((100% - 50px) / 5);
    margin-right: 10px;
    position: relative;
}

#contentContainer > #recomended-channels > .channel-container > .shiftOnHover {
    margin-bottom: 8px;
}

#contentContainer > #recomended-channels > .channel-container  img {
    width: 100%;
}

#contentContainer > #recomended-channels > .channel-container  .on-air-indicator {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 75px;
    height: 20px;
    background-image: url('../Media/Image/onAir.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#contentContainer > #recomended-channels > .channel-container > .image-container {
    width: 40px;
    margin-right: 10px;
    float: left;
}

#contentContainer > #recomended-channels > .channel-container > .image-container > .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

#contentContainer > #recomended-channels > .channel-container > .info-container {
    width: calc(100% - 50px);
    float: left;
}

#contentContainer > #recomended-channels > .channel-container > .info-container > .info-container-stream-name {
    font-size: 14px;
    display: block;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
    font-weight: 700;
    margin: 1px 0;
}

#contentContainer > #recomended-channels > .channel-container > .info-container > .info-container-channel-name {
    font-size: 12px;
    display: block;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--main-recommender-channels-secondary-text);
    margin: 1px 0;
}

#contentContainer > #recomended-channels > .channel-container > .info-container > .info-container-game {
    font-size: 12px;
    display: block;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--main-recommender-channels-secondary-text);
}

#contentContainer > #recomended-channels > .channel-container > .info-container > a:hover {
    color: var(--purple);
    cursor: pointer;
}

#contentContainer > #recomended-channels > .channel-container > .info-container > .category-container {
    margin: 3px 0 0 0;
}

#contentContainer > #recomended-channels > .channel-container > .info-container .category {
    font-size: 11px;
}

.show-more-hr-container {
    width: 100%;
    height: 30px;
    padding: 0 30px;
    margin: 20px 0 30px 0;
}

.show-more-hr-container > .show-more-hr {
    display: block;
    float: left;
    margin-top: 14px;
    border: 1px solid var(--show-more-hr-color);
    width: calc((100% - 150px) / 2);
}

.show-more-hr-container > .show-more-button {
    background-color: transparent;
    float: left;
    width: 110px;
    height: 30px;
    margin: 0 20px;
    border-radius: 5px;
    color: var(--purple);
    font-size: 13px;
    line-height: 30px;
    font-weight: 500;
    position: relative;
    padding: 0 5px;
}

.show-more-hr-container > .show-more-button:hover {
    background-color: var(--show-more-button-color-hover);
    cursor: pointer;
}

.show-more-hr-container > .show-more-button > .show-more-arrow {
    width: 20px;
    height: 20px;
    right: 0px;
    top: 5px;
    position: absolute;
    fill: var(--purple);
}

#recommended-categories {
    width: 100%;
    padding: 0 30px 0 20px;
}

#recommended-categories > #recommended-categories-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 10px;
    color: var(--text-color);
}

#recommended-categories > #recommended-categories-text > a {
    color: var(--purple);
}

#recommended-categories > #recommended-categories-text > a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#recommended-categories > .recommender-category {
    width: calc((100% - 100px) / 10);
    margin-left: 10px;
    float: left;
}

#recommended-categories > .recommender-category > .recommender-category-image {
    width: 100%;
}

#recommended-categories > .recommender-category > .recommender-category-image:hover {
    cursor: pointer;
}

#recommended-categories > .recommender-category > .category-name {
    width: calc(100% - 30px);
    display: block;
    font-size: 14px;
    color: var(--text-color);
    font-weight: 700;
}

#recommended-categories > .recommender-category > .category-name:hover {
    cursor: pointer;
    color: var(--purple);
}

#recommended-categories > .recommender-category > .category-viewcount {
    display: block;
    width: calc(100% - 30px);
    font-size: 12px;
    color: var(--main-recommender-channels-secondary-text);
    font-weight: 500;
    margin: 3px 0;
}

#recommended-categories > .recommender-category > .category-viewcount:hover {
    cursor: pointer;
    color: var(--purple);
}

#recommended-categories > .recommender-category > .category-tags {
    width: 100%;
    height: 25px;
}

#recommended-music {
    width: 100%;
    padding: 0 30px 0 30px;
    margin-bottom: 15px;
}

#recommended-music > #recommended-music-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--text-color);
}

#recommended-music > .recommended-music-container {
    float: left;
    width: calc((100% - 50px) / 5);
    margin-right: 10px;
}

#recommended-music > .recommended-music-container > img {
    width: 100%;
}

#recommended-music > .recommended-music-container > .recommended-music-name {
    display: block;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 700;
}

#recommended-music > .recommended-music-container > .recommended-music-author {
    display: block;
    font-size: 13px;
    color: var(--main-recommender-channels-secondary-text);
    margin: 3px 0;
}

#recommended-music > .recommended-music-container > .recommended-music-game {
    display: block;
    font-size: 13px;
    color: var(--main-recommender-channels-secondary-text);
}

#recommended-music > .recommended-music-container > a:hover {
    color: var(--purple);
    cursor: pointer;
}

#recommended-music > .recommended-music-container > audio {
    height: 25px;
    width: 100%;
    margin-top: 10px;
}

#recommended-music > .recommended-music-container > audio:focus {
    outline: none;
}

@media (max-width: 1900px) {
    .clear1900 {
        display: none;
    }

    #recommended-categories > .recommender-category {
        width: calc((100% - 90px) / 9);
    }
}

@media (max-width: 1800px) {
    .clear1800 {
        display: none;
    }

    #contentContainer > #recomended-channels > .channel-container, #recommended-music > .recommended-music-container {
        width: calc((100% - 40px) / 4);
    }
}

@media (max-width: 1740px) {
    .clear1740 {
        display: none;
    }

    #recommended-categories > .recommender-category {
        width: calc((100% - 80px) / 8);
    }
}

@media (max-width: 1580px) {
    .clear1580 {
        display: none;
    }

    #recommended-categories > .recommender-category {
        width: calc((100% - 70px) / 7);
    }
}

@media (max-width: 1420px) {
    .clear1420 {
        display: none;
    }

    #recommended-categories > .recommender-category {
        width: calc((100% - 60px) / 6);
    }
}

@media (max-width: 1400px) {
    .clear1400 {
        display: none;
    }

    #contentContainer > #recomended-channels > .channel-container, #recommended-music > .recommended-music-container {
        float: left;
        width: calc((100% - 30px) / 3);
    }

    .nav-item {
        font-size: 14px;
        padding: 0 10px;
    }
}

@media (max-width: 1260px) {
    .clear1260 {
        display: none;
    }

    #recommended-categories > .recommender-category {
        width: calc((100% - 50px) / 5);
    }
}

@media (max-width: 1200px) {
    .channel-info, #leftPanel > div, #leftPanel > p  {
        display: none;
    }
    
    #leftPanel {
        width: 50px;
    }

    #contentContainer {
        left: 50px;
        width: calc(100% - 50px);
    }
}

@media (max-width: 1150px) {
    #search-bar-top {
        width: calc(100% - 750px);
    }
}

@media (max-width: 1000px) {
    .clear1000 {
        display: none;
    }

    #contentContainer > #recomended-channels > .channel-container, #recommended-music > .recommended-music-container {
        float: left;
        width: calc((100% - 20px) / 2);
    }
}

@media (max-width: 910px) {
    .clear910 {
        display: none;
    }

    #recommended-categories > .recommender-category {
        width: calc((100% - 40px) / 4);
    }

    #search-bar-top {
        display: none;
    }
}

@media (max-width: 750px) {
    .clear750 {
        display: none;
    }

    #recommended-categories > .recommender-category {
        width: calc((100% - 30px) / 3);
    }

    /* .nav-item {
        display: none;
    } */
}

@media (max-width: 700px) {
    .clear700 {
        display: none;
    }

    #contentContainer > #recomended-channels > .channel-container, #recommended-music > .recommended-music-container {
        float: left;
        width: calc(100% - 10px);
    }
}

@media (max-width: 590px) {
    .clear590 {
        display: none;
    }

    #recommended-categories > .recommender-category {
        width: calc((100% - 20px) / 2);
    }
}

@media (max-width: 430px) {
    .clear430 {
        display: none;
    }

    #recommended-categories > .recommender-category {
        width: calc(100% - 10px);
    }
}