* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

html {
    font-size: var(--root-font-size);
}

body {
    background-color: var(--main-bg-color);
    position: relative;
}

#container {
    position: absolute;
    width: 40vw;
    height: 80vh;
    background-color: white;
    top: 10vh;
    left: 30vw;
}

@media (max-width: 600px) {
    #container {
        position: absolute;
        width: 70vw;
        height: 80vh;
        background-color: white;
        top: 10vh;
        left: calc((100% - 70vw) / 2);
    }
}

#container a {
    display: block;
    width: 100%;
    height: calc(80vh / 6);
    background-color: #171a1d;
    color: #707070;
    cursor: not-allowed;
    text-align: center;
    line-height: calc(80vh / 6);
    font-family: var(--root-font-family);
    font-size: 5rem;
    overflow: hidden;
}

#container a:any-link {
    color: white;
    cursor: pointer;
}

#container a:hover {
    background-color: #dd0000;
}

#container a:any-link:hover {
    background-color: #009900;
}