::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #202225;
}

::-webkit-scrollbar-thumb:active {
  background: #202225;
}

::-webkit-scrollbar-track {
  background: #2f3136;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #2f3136;
}

::-webkit-scrollbar-track:active {
  background: #2f3136;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:root * {
  scrollbar-width: thin;
  scrollbar-color: #202225 #2f3136;
}

#container #chat-window #chat-header, #container #channel-list #server-title {
  border-bottom: 1px solid #202225;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*::selection {
  color: none;
  background-color: none;
}

body, html {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container #server-list {
  background-color: #202225;
  width: 70px;
  height: 100%;
  padding-top: 8px;
  float: left;
}
#container #server-list .server-container {
  width: 48px;
  height: 48px;
  margin: 0 auto 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #36393f;
  border-radius: 24px;
  cursor: pointer;
  transition: border-radius 0.2s, background-color 0.2s;
}
#container #server-list .server-container img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  transition: border-radius 0.2s;
}
#container #server-list .server-container img:hover {
  border-radius: 16px/16px;
}
#container #server-list .server-container svg path {
  fill: #dcddde;
}
#container #server-list .server-container svg.green path {
  transition: fill 0.2s;
  fill: #43b581;
}
#container #server-list .server-container:hover {
  border-radius: 16px/14px;
  background-color: #7289da;
}
#container #server-list .server-container:hover svg.green path {
  fill: #dcddde;
}
#container #server-list .server-container.green:hover {
  background-color: #43b581;
}
#container #server-list .server-separator {
  width: 32px;
  height: 1px;
  background-color: #36393f;
  margin: 0 auto 8px;
}
#container #channel-list {
  background-color: #2f3136;
  width: 240px;
  height: 100%;
  float: left;
}
#container #channel-list #server-title {
  width: 100%;
  height: 50px;
}
#container #channel-list #server-title #server-title-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
}
#container #channel-list #server-title #server-title-container #nitro-status svg {
  margin-right: 5px;
}
#container #channel-list #server-title #server-title-container #nitro-status svg path.outer {
  fill: #4f545c;
}
#container #channel-list #server-title #server-title-container #nitro-status svg path.inner {
  fill: #dcddde;
  transform: translate(5px, 2px);
}
#container #channel-list #server-title #server-title-container #server-name {
  font-size: 16px;
  font-weight: 700;
  color: white;
  transform: translateY(-2px);
}
#container #channel-list #server-title #server-title-container #server-more {
  margin-left: 100px;
  stroke: #dcddde;
}
#container #channel-list #server-title #server-title-container:hover {
  background-color: #36393f;
}
#container #channel-list #channel-content {
  width: 100%;
  height: calc(100% - 50px);
  padding: 10px 6px;
  overflow-y: auto;
}
#container #channel-list #channel-content details {
  margin-bottom: 24px;
}
#container #channel-list #channel-content summary {
  font-size: 12px;
  font-weight: 900;
  color: #8e9297;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}
#container #channel-list #channel-content summary:focus {
  outline: none;
  border: none;
}
#container #channel-list #channel-content summary:hover {
  color: #dcddd4;
}
#container #channel-list #channel-content .channel-section-container {
  width: 100%;
  padding: 0 6px 0 6px;
  font-size: 16px;
  font-weight: 500;
}
#container #channel-list #channel-content .channel-section-container .channel {
  width: 100%;
  height: 34px;
  background-color: #2f3136;
  color: #8e9297;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 0 0 6px;
  position: relative;
  cursor: pointer;
}
#container #channel-list #channel-content .channel-section-container .channel svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #8e9297;
}
#container #channel-list #channel-content .channel-section-container .channel svg.invite {
  position: absolute;
  right: 0px;
  display: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
#container #channel-list #channel-content .channel-section-container .channel svg.invite:hover {
  fill: #d2d3d4;
}
#container #channel-list #channel-content .channel-section-container .channel:hover {
  background-color: #393c43;
  color: #dcddd4;
}
#container #channel-list #channel-content .channel-section-container .channel:hover svg.invite {
  display: block;
}
#container #channel-list #channel-content .channel-section-container .channel.active {
  font-weight: 700;
  color: white;
}
#container #channel-list #channel-content .channel-section-container .channel.active:hover {
  background-color: #393c43;
}
#container #channel-list #channel-content .channel-section-container .channel-members {
  width: 100%;
  padding-left: 26px;
  margin-bottom: 16px;
}
#container #channel-list #channel-content .channel-section-container .channel-members .member {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 2px 0 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}
#container #channel-list #channel-content .channel-section-container .channel-members .member div {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  position: relative;
}
#container #channel-list #channel-content .channel-section-container .channel-members .member div img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
#container #channel-list #channel-content .channel-section-container .channel-members .member div::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 3px solid #43b481;
  background-color: transparent;
  position: absolute;
  top: -1px;
  left: -1px;
  visibility: hidden;
}
#container #channel-list #channel-content .channel-section-container .channel-members .member span {
  color: #8e9297;
}
#container #channel-list #channel-content .channel-section-container .channel-members .member.speaking div::after {
  visibility: visible;
}
#container #channel-list #channel-content .channel-section-container .channel-members .member.speaking span {
  color: white;
}
#container #channel-list #channel-content .channel-section-container .channel-members .member:hover {
  background-color: #393c43;
}
#container #channel-list #channel-content .channel-section-container .channel-members .member:hover span {
  color: #dcddd4;
  filter: brightness(0.9);
}
#container #chat-window {
  background-color: #36393f;
  width: calc(100% - (70px + 240px));
  height: 100%;
  float: left;
}
#container #chat-window #chat-header {
  width: 100%;
  height: 50px;
  background-color: inherit;
  position: relative;
  overflow-y: visible;
  cursor: default;
}
#container #chat-window #chat-header #header-name {
  width: 130px;
  height: 49px;
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#container #chat-window #chat-header #header-name .channel-icon {
  width: 24px;
  height: 24px;
  fill: #8e9297;
}
#container #chat-window #chat-header #header-name .channel-name {
  width: 90px;
  height: 24px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
#container #chat-window #chat-header #header-icons {
  height: 49px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 10px;
  background-color: inherit;
}
#container #chat-window #chat-header #header-icons svg {
  width: 24px;
  height: 24px;
  viewBox: 0 0 24px 24px;
  fill: #8e9297;
  cursor: pointer;
}
#container #chat-window #chat-header #header-icons svg.active {
  fill: white;
}
#container #chat-window #chat-header #header-icons svg:hover {
  fill: #dcddd4;
}
#container #chat-window #chat-header #header-icons .search-container {
  position: relative;
  height: 24px;
  width: 140px;
}
#container #chat-window #chat-header #header-icons .search-container input {
  background-color: #202225;
  border: none;
  height: 24px;
  width: 140px;
  border-radius: 6px;
  padding: 2px 6px;
  color: white;
}
#container #chat-window #chat-header #header-icons .search-container input:focus {
  outline: none;
}
#container #chat-window #chat-header #header-icons .search-container input::placeholder {
  color: #8e9297;
}
#container #chat-window #chat-header #header-icons .search-container input::selection {
  background-color: #70b2fd;
}
#container #chat-window #chat-header #header-icons .search-container svg {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 6px;
  top: 4px;
}
#container #chat-window #chat-box {
  width: calc(100% - 240px);
  height: calc(100% - 50px);
  background-color: inherit;
  float: left;
}
#container #chat-window #chat-box #chat-messages {
  height: calc(100% - 70px);
  width: 100%;
  padding: 0 20px 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #36393f;
}
#container #chat-window #chat-box #chat-messages *::selection {
  background-color: #70b2fd;
}
#container #chat-window #chat-box #chat-messages .message-box {
  width: 100%;
  margin-bottom: 16px;
  padding: 6px 0;
}
#container #chat-window #chat-box #chat-messages .message-box .photo {
  width: 72px;
  height: 100%;
  display: flex;
  justify-content: center;
  float: left;
}
#container #chat-window #chat-box #chat-messages .message-box .photo img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
#container #chat-window #chat-box #chat-messages .message-box .message {
  width: calc(100% - 72px);
  height: 100%;
  word-break: break-all;
  word-wrap: break-word;
  float: left;
}
#container #chat-window #chat-box #chat-messages .message-box .message::after {
  content: "";
  clear: both;
  display: table;
}
#container #chat-window #chat-box #chat-messages .message-box .message .user-info {
  width: 100%;
  height: 16px;
  margin-bottom: 8px;
}
#container #chat-window #chat-box #chat-messages .message-box .message .user-info span:nth-child(1) {
  font-size: 16px;
  margin-right: 12px;
}
#container #chat-window #chat-box #chat-messages .message-box .message .user-info span:nth-child(1):hover {
  text-decoration: underline;
  cursor: pointer;
}
#container #chat-window #chat-box #chat-messages .message-box .message .user-info span:nth-child(1)[data-rank=admin] {
  color: #dd2a3d;
}
#container #chat-window #chat-box #chat-messages .message-box .message .user-info span:nth-child(1)[data-rank=bot] {
  color: #246e2f;
}
#container #chat-window #chat-box #chat-messages .message-box .message .user-info span:nth-child(1)[data-rank=teacher] {
  color: #dd6509;
}
#container #chat-window #chat-box #chat-messages .message-box .message .user-info span:nth-child(1)[data-rank=michal] {
  color: #5959D9;
}
#container #chat-window #chat-box #chat-messages .message-box .message .user-info span:nth-child(1)[data-rank=student] {
  color: #2ecc71;
}
#container #chat-window #chat-box #chat-messages .message-box .message .user-info span:nth-child(2) {
  font-size: 11px;
  color: #8e9297;
}
#container #chat-window #chat-box #chat-messages .message-box .message .message-content {
  width: 100%;
  height: calc(100% - 16px);
  color: #d2d8cf;
}
#container #chat-window #chat-box #chat-messages .message-box .message .message-content img {
  cursor: pointer;
  width: 400px;
  border-radius: 6px;
}
#container #chat-window #chat-box #chat-messages .message-box .message .message-content a:link {
  color: #18b0f4;
}
#container #chat-window #chat-box #chat-messages .message-box .message .message-content a:visited {
  color: #18b0f4;
}
#container #chat-window #chat-box #chat-messages .message-box .message .message-content a:hover {
  color: #7ac5e7;
}
#container #chat-window #chat-box #chat-messages .message-box .message .message-content a:active {
  color: #18b0f4;
}
#container #chat-window #chat-box #chat-messages .message-box:hover {
  background-color: #32353b;
  border-radius: 0 10px 10px 0;
}
#container #chat-window #chat-box #chat-messages .message-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 100%;
  margin-bottom: 16px;
  padding-left: 20px;
}
#container #chat-window #chat-box #chat-messages .message-separator div {
  display: inline-block;
  height: 1px;
  width: calc((100% - 100px) / 2);
  background-color: #8e9297;
}
#container #chat-window #chat-box #chat-messages .message-separator span {
  display: inline-block;
  width: 100px;
  height: 16px;
  font-size: 12px;
  color: #8e9297;
  text-align: center;
}
#container #chat-window #chat-box #chat-input {
  height: 70px;
  width: 100%;
  padding: 0 25px 25px 15px;
  overflow: hidden;
}
#container #chat-window #chat-box #chat-input #chat-input-container {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-color: #40444b;
}
#container #chat-window #chat-box #chat-input #chat-input-container > *:not(#chat-input-field) {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#container #chat-window #chat-box #chat-input #chat-input-container > *:not(#chat-input-field) svg {
  width: 24px;
  height: 24px;
  fill: #8e9297;
}
#container #chat-window #chat-box #chat-input #chat-input-container > *:not(#chat-input-field):hover svg {
  fill: #dcddd4;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-attach {
  width: 57px;
  height: 100%;
  float: left;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-field {
  width: calc(100% - 177px);
  height: 100%;
  padding: 5px 20px;
  float: left;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-field *::selection {
  background-color: #70b2fd;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-field input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: white;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-field input:focus {
  border: none;
  outline: none;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-field input::placeholder {
  font-size: 14px;
  color: #8e9297;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-gift {
  width: 40px;
  height: 100%;
  float: left;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-gif {
  width: 40px;
  height: 100%;
  float: left;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-emoji {
  width: 40px;
  height: 100%;
  float: left;
}
#container #chat-window #chat-box #chat-input #chat-input-container #chat-input-emoji svg {
  width: 32px;
  height: 32px;
}
#container #chat-window #active-users {
  width: 240px;
  height: calc(100% - 50px);
  padding: 0 0 0 10px;
  background-color: #2f3136;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}
#container #chat-window #active-users .user-section {
  width: 100%;
  padding: 20px 0;
}
#container #chat-window #active-users .user-section .title {
  width: 100%;
  height: 12px;
  font-size: 12px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 4px;
  color: #8e9297;
}
#container #chat-window #active-users .user-section .users .user {
  width: 100%;
  height: 42px;
  padding: 5px 8px;
  border-radius: 4px;
  background-color: #2f3136;
  cursor: pointer;
}
#container #chat-window #active-users .user-section .users .user .photo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 16px;
  position: relative;
  background-position: center;
  background-size: contain;
  float: left;
}
#container #chat-window #active-users .user-section .users .user .photo .status {
  position: absolute;
}
#container #chat-window #active-users .user-section .users .user .info {
  width: calc(100% - 40px);
  height: 32px;
  float: left;
}
#container #chat-window #active-users .user-section .users .user .info .name {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#container #chat-window #active-users .user-section .users .user .info .status {
  width: 100%;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #8e9297;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#container #chat-window #active-users .user-section .users .user:hover {
  background-color: #34373c;
}
#container #chat-window #active-users .user-section .users .user[data-rank=admin] .info .name {
  color: #dd2a3d;
}
#container #chat-window #active-users .user-section .users .user[data-rank=bot] .info .name {
  color: #246e2f;
}
#container #chat-window #active-users .user-section .users .user[data-rank=teacher] .info .name {
  color: #dd6509;
}
#container #chat-window #active-users .user-section .users .user[data-rank=michal] .info .name {
  color: #5959D9;
}
#container #chat-window #active-users .user-section .users .user[data-rank=student] .info .name {
  color: #2ecc71;
}
#container .tooltip-container {
  position: relative;
}
#container .tooltip-container .tooltip-right {
  display: none;
  position: absolute;
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 8px;
  left: calc(100% + 24px);
  z-index: 10000;
  white-space: nowrap;
}
#container .tooltip-container .tooltip-right span:not(:last-child) {
  display: inline-block;
  margin-bottom: 8px;
}
#container .tooltip-container .tooltip-right svg {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}
#container .tooltip-container .tooltip-right img {
  width: 24px !important;
  height: 24px !important;
  border-radius: 12px !important;
  border: 2px sollid black;
}
#container .tooltip-container .tooltip-right::after {
  content: "";
  border-width: 6px;
  border-style: solid;
  border-color: transparent black transparent transparent;
  position: absolute;
  left: -12px;
  top: calc(50% - 6px);
  z-index: 10001;
}
#container .tooltip-container .tooltip-down {
  display: none;
  position: absolute;
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 8px;
  top: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  font-size: 12px;
  white-space: nowrap;
}
#container .tooltip-container .tooltip-down.limit {
  width: 180px;
  white-space: normal;
}
#container .tooltip-container .tooltip-down::after {
  content: "";
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  position: absolute;
  left: calc(50% - 6px);
  top: -12px;
  z-index: 10001;
}
#container .tooltip-container:hover .tooltip-right {
  display: block;
}
#container .tooltip-container:hover .tooltip-down {
  display: block;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
