@use 'scrollbars';

$colors: (
    "global-text-color-normal": rgb(255,255,255),
    "global-selection-color": rgb(112, 178, 253),

    "server-list-bg": rgb(32, 34, 37),

    "server-list-default-server-bg": rgb(54, 57, 63),
    "server-list-default-server-bg-hover": rgb(114, 137, 218),
    "server-list-default-svg-color": rgb(220,221,222),
    "server-list-green-server-bg": rgb(54, 57, 63),
    "server-list-green-server-bg-hover": rgb(67, 181, 129),
    "server-list-green-svg-color": rgb(67, 181, 129),
    "server-list-green-svg-color-hover": rgb(220,221,222),

    "channel-list-bg": rgb(47, 49, 54),
    "channel-text-inactive": rgb(142,146,151),
    "channel-text-active": rgb(255,255,255),
    "channel-text-hover": rgb(220,221,212),
    "channel-default-bg": rgb(47, 49, 54),
    "channel-default-bg-hover": rgb(57, 60, 67),
    "channel-invite-hover": rgb(210,211,212),

    "nitro-status-svg-color": rgb(220,221,222),
    "nitro-status-svg-bg": rgb(79,84,92),

    "server-more-svg-color": rgb(220,221,222),
    "server-title-bg-hover": rgb(54, 57, 63),

    "header-search-bg": rgb(32, 34, 37),

    "chat-window-bg": rgb(54, 57, 63),
    "chat-header-bg": rgb(54, 57, 63),
    "chat-input-bg": rgb(54, 57, 63),
    "chat-input-container-bg": rgb(64,68,75),

    "message-box-bg": rgb(54, 57, 63),
    "message-box-bg-hover": rgb(50,53,59),

    "chat-message-text-color": rgb(210,216,207),

    "active-users-bg": rgb(47, 49, 54),
    "active-users-bg-hover": rgb(52,55,60),

    "a-link-color": rgb(24,176,244),
    "a-visited-color": rgb(24,176,244),
    "a-hover-color": rgb(122, 197, 231),
    "a-active-color": rgb(24,176,244)
);

$ranks: (
    "admin": rgb(221,42,61),
    "bot": rgb(36,110,47),
    "teacher": rgb(221,101,9),
    "michal": #5959D9,
    "student": rgb(46,204,113)
);

@mixin float-left {
    float: left;
}

@mixin float-right {
    float: right;
}

@mixin clear-fix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin ellipsis-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

%border-header {
    border-bottom: 1px solid map-get($map: $colors, $key: "server-list-bg");
}

.clearfix {
    @include clear-fix();
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*::selection {
    color: none;
    background-color: none;
}

body, html {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    #server-list {
        background-color: map-get($map: $colors, $key: "server-list-bg");
        width: 70px;
        height: 100%;
        padding-top: 8px;
        @include float-left();

        .server-container {
            $transition-length: 0.2s;

            width: 48px;
            height: 48px;
            margin: 0 auto 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: map-get($map: $colors, $key: "server-list-default-server-bg");
            border-radius: 24px;
            cursor: pointer;
            transition: border-radius $transition-length, background-color $transition-length;

            img {
                width: 48px;
                height: 48px;
                border-radius: 24px;
                transition: border-radius $transition-length;
            }

            img:hover {
                border-radius: 16px / 16px;
            }

            svg path {
                fill: map-get($map: $colors, $key: "server-list-default-svg-color");
            }

            svg.green path {
                transition: fill $transition-length;
                fill: map-get($map: $colors, $key: "server-list-green-svg-color");
            }
        }

        .server-container:hover {
            border-radius: 16px / 14px;
            background-color: map-get($map: $colors, $key: "server-list-default-server-bg-hover");

            svg.green path {
                fill: map-get($map: $colors, $key: "server-list-green-svg-color-hover");
            }
        }

        .server-container.green:hover {
            background-color: map-get($map: $colors, $key: "server-list-green-server-bg-hover");
        }

        .server-separator {
            width: 32px;
            height: 1px;
            background-color: map-get($map: $colors, $key: "server-list-default-server-bg");
            margin: 0 auto 8px;
        }
    }

    #channel-list {
        background-color: map-get($map: $colors, $key: "channel-list-bg");
        width: 240px;
        height: 100%;
        @include float-left();

        #server-title {
            width: 100%;
            height: 50px;
            @extend %border-header;

            #server-title-container {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.2s;
                cursor: pointer;

                #nitro-status svg {
                    margin-right: 5px;

                    path.outer {
                        fill: map-get($map: $colors, $key: nitro-status-svg-bg);
                    }

                    path.inner {
                        fill: map-get($map: $colors, $key: nitro-status-svg-color);
                        transform: translate(5px, 2px);
                    }
                }

                #server-name {
                    font-size: 16px;
                    font-weight: 700;
                    color: map-get($map: $colors, $key: global-text-color-normal);
                    transform: translateY(-2px);
                }

                #server-more {
                    margin-left: 100px;
                    stroke: map-get($map: $colors, $key: server-more-svg-color);
                }
            }

            #server-title-container:hover {
                background-color: map-get($map: $colors, $key: server-title-bg-hover);
            }
        }

        #channel-content {
            width: 100%;
            height: calc(100% - 50px);
            padding: 10px 6px;
            overflow-y: auto;

            details {
                margin-bottom: 24px;
            }

            summary {
                font-size: 12px;
                font-weight: 900;
                color: map-get($map: $colors, $key: channel-text-inactive);
                letter-spacing: -1px;
                text-transform: uppercase;
                margin-bottom: 10px;
                cursor: pointer;

                &:focus {
                    outline: none;
                    border: none;
                }

                &:hover {
                    color: map-get($map: $colors, $key: channel-text-hover);
                }
            }

            .channel-section-container {
                width: 100%;
                padding: 0 6px 0 6px;
                font-size: 16px;
                font-weight: 500;

                .channel {
                    width: 100%;
                    height: 34px;
                    background-color: map-get($map: $colors, $key: channel-default-bg);
                    color: map-get($map: $colors, $key: channel-text-inactive);
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    padding: 0 0 0 6px;
                    position: relative;
                    cursor: pointer;

                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                        fill: map-get($map: $colors, $key: channel-text-inactive);
                    }

                    svg.invite {
                        position: absolute;
                        right: 0px;
                        display: none;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;

                        &:hover {
                            fill: map-get($map: $colors, $key: channel-invite-hover);
                        }
                    }
                }

                .channel:hover {
                    background-color: map-get($map: $colors, $key: channel-default-bg-hover);
                    color: map-get($map: $colors, $key: channel-text-hover);

                    svg.invite {
                        display: block;
                    }
                }

                .channel.active {
                    font-weight: 700;
                    color: map-get($map: $colors, $key: channel-text-active);

                    &:hover {
                        background-color: map-get($map: $colors, $key: channel-default-bg-hover);
                    }
                }
            }
        }
    }

    #chat-window {
        background-color: map-get($map: $colors, $key: "chat-window-bg");
        width: calc(100% - (70px + 240px));
        height: 100%;
        @include float-left();

        #chat-header {
            width: 100%;
            height: 50px;
            background-color: inherit;
            @extend %border-header;
            position: relative;
            overflow: hidden;

            #header-name {
                width: 130px;
                height: 50px;
                position: absolute;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .channel-icon {
                    width: 24px;
                    height: 24px;
                    fill: map-get($map: $colors, $key: channel-text-inactive);
                }

                .channel-name {
                    width: 90px;
                    height: 24px;
                    color: map-get($map: $colors, $key: channel-text-active);
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            #header-icons {
                height: 50px;
                width: 350px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: absolute;
                right: 0;
                background-color: inherit;

                svg {
                    width: 24px;
                    height: 24px;
                    viewBox: 0 0 24px 24px;
                    fill: map-get($map: $colors, $key: channel-text-inactive);
                }

                svg.active {
                    fill: map-get($map: $colors, $key: channel-text-active);
                }

                svg:hover {
                    fill: map-get($map: $colors, $key: channel-text-hover);
                }

                .search-container {
                    position: relative;
                    height: 24px;
                    width: 140px;

                    input {
                        background-color: map-get($map: $colors, $key: header-search-bg);
                        border: none;
                        height: 24px;
                        width: 140px;
                        border-radius: 6px;
                        padding: 2px 6px;
                        color: map-get($map: $colors, $key: channel-text-active);
                    }
    
                    input:focus {
                        outline: none;
                    }
    
                    input::placeholder {
                        color: map-get($map: $colors, $key: channel-text-inactive);
                    }
    
                    input::selection {
                        background-color: map-get($map: $colors, $key: global-selection-color);
                    }

                    svg {
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        right: 6px;
                        top: 4px;
                    }
                }
            }
        }

        #chat-box {
            width: calc(100% - 240px);
            height: calc(100% - 50px);
            background-color: inherit;
            @include float-left();

            #chat-messages {
                height: calc(100% - 70px);
                width: 100%;
                padding: 0 20px 0 0;
                overflow-y: auto;
                overflow-x: hidden;
                background-color: map-get($map: $colors, $key: message-box-bg);
                
                & *::selection {
                    background-color: map-get($map: $colors, $key: global-selection-color);
                }

                .message-box {
                    width: 100%;
                    margin-bottom: 16px;
                    padding: 6px 0;

                    .photo {
                        width: 72px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        @include float-left();

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                            cursor: pointer;
                        }
                    }

                    .message {
                        width: calc(100% - 72px);
                        height: 100%;
                        word-break: break-all;
                        word-wrap: break-word;
                        @include float-left();
                        @include clear-fix();

                        .user-info {
                            width: 100%;
                            height: 16px;
                            margin-bottom: 8px;

                            span:nth-child(1) {
                                font-size: 16px;
                                margin-right: 12px;

                                &:hover {
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }

                            @each $name, $color in $ranks {
                                span:nth-child(1)[data-rank="#{$name}"] {
                                    color: $color;
                                }
                            }
                            

                            span:nth-child(2) {
                                font-size: 11px;
                                color: map-get($map: $colors, $key: channel-text-inactive);
                            }
                        }

                        .message-content {
                            width: 100%;
                            height: calc(100% - 16px);
                            color: map-get($map: $colors, $key: chat-message-text-color);

                            img {
                                cursor: pointer;
                                width: 400px;
                                border-radius: 6px;
                            }

                            a:link {
                                color: map-get($map: $colors, $key: a-link-color);
                            }

                            a:visited {
                                color: map-get($map: $colors, $key: a-visited-color);
                            }

                            a:hover {
                                color: map-get($map: $colors, $key: a-hover-color);
                            }

                            a:active {
                                color: map-get($map: $colors, $key: a-active-color);
                            }
                        }
                    }
                }

                .message-box:hover {
                    background-color: map-get($map: $colors, $key: message-box-bg-hover);
                    border-radius: 0 10px 10px 0;
                }

                .message-separator {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 16px;
                    width: 100%;
                    margin-bottom: 16px;
                    padding-left: 20px;


                    div {
                        display: inline-block;
                        height: 1px;
                        width: calc((100% - 100px) / 2);
                        background-color: map-get($map: $colors, $key: channel-text-inactive);
                    }

                    span {
                        display: inline-block;
                        width: 100px;
                        height: 16px;
                        font-size: 12px;
                        color: map-get($map: $colors, $key: channel-text-inactive);
                        text-align: center;
                    }
                }
            }

            #chat-input {
                height: 70px;
                width: 100%;
                padding: 0 25px 25px 15px;
                overflow: hidden;

                #chat-input-container {
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                    overflow: hidden;
                    background-color: map-get($map: $colors, $key: chat-input-container-bg);

                    & > *:not(#chat-input-field) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        svg {
                            width: 24px;
                            height: 24px;
                            fill: map-get($map: $colors, $key: channel-text-inactive);
                        }
                    }

                    & > *:not(#chat-input-field):hover {
                        svg {
                            fill: map-get($map: $colors, $key: channel-text-hover);
                        }
                    }

                    #chat-input-attach {
                        width: 57px;
                        height: 100%;
                        @include float-left();
                    }

                    #chat-input-field {
                        $other: 57px + 40px + 40px + 40px;

                        width: calc(100% - #{$other});
                        height: 100%;
                        padding: 5px 20px;
                        @include float-left();

                        & *::selection {
                            background-color: map-get($map: $colors, $key: global-selection-color);
                        }

                        input {
                            width: 100%;
                            height: 100%;
                            border: none;
                            background-color: transparent;
                            font-size: 16px;
                            color: map-get($map: $colors, $key: channel-text-active);

                            &:focus {
                                border: none;
                                outline: none;
                            }

                            &::placeholder {
                                font-size: 14px;
                                color: map-get($map: $colors, $key: channel-text-inactive);
                            }
                        }
                    }

                    #chat-input-gift {
                        width: 40px;
                        height: 100%;
                        @include float-left();
                    }

                    #chat-input-gif {
                        width: 40px;
                        height: 100%;
                        @include float-left();
                    }

                    #chat-input-emoji {
                        width: 40px;
                        height: 100%;
                        @include float-left();

                        svg {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }

        #active-users {
            width: 240px;
            height: calc(100% - 50px);
            padding: 0 0 0 10px;
            background-color: map-get($map: $colors, $key: "active-users-bg");
            @include float-left();
            overflow-y: auto;
            overflow-x: hidden;

            .user-section {
                width: 100%;
                padding: 20px 0;

                .title {
                    width: 100%;
                    height: 12px;
                    font-size: 12px;
                    letter-spacing: 0;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-left: 10px;
                    margin-bottom: 4px;
                    color: map-get($map: $colors, $key: channel-text-inactive);
                }

                .users {

                    .user {
                        width: 100%;
                        height: 42px;
                        padding: 5px 8px;
                        border-radius: 4px;
                        background-color: map-get($map: $colors, $key: active-users-bg);
                        cursor: pointer;

                        .photo {
                            width: 32px;
                            height: 32px;
                            margin-right: 8px;
                            border-radius: 16px;
                            position: relative;
                            background-position: center;
                            background-size: contain;
                            @include float-left();

                            .status {
                                position: absolute;
                            }
                        }

                        .info {
                            width: calc(100% - 40px);
                            height: 32px;
                            @include float-left();

                            .name {
                                width: 100%;
                                height: 20px;
                                line-height: 20px;
                                @include ellipsis-overflow();
                            }

                            .status {
                                width: 100%;
                                height: 12px;
                                line-height: 12px;
                                font-size: 12px;
                                color: map-get($map: $colors, $key: channel-text-inactive);
                                @include ellipsis-overflow();
                            }
                        }
                    }

                    .user:hover {
                        background-color: map-get($map: $colors, $key: active-users-bg-hover);
                    }

                    @each $name, $color in $ranks {
                        .user[data-rank="#{$name}"] .info .name {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
}