$colors: (
    "global-text-color-normal": rgb(255,255,255),
    "global-selection-color": rgb(112, 178, 253),

    "server-list-bg": rgb(32, 34, 37),

    "server-list-default-server-bg": rgb(54, 57, 63),
    "server-list-default-server-bg-hover": rgb(114, 137, 218),
    "server-list-default-svg-color": rgb(220,221,222),
    "server-list-green-server-bg": rgb(54, 57, 63),
    "server-list-green-server-bg-hover": rgb(67, 181, 129),
    "server-list-green-svg-color": rgb(67, 181, 129),
    "server-list-green-svg-color-hover": rgb(220,221,222),

    "channel-list-bg": rgb(47, 49, 54),
    "channel-text-inactive": rgb(142,146,151),
    "channel-text-active": rgb(255,255,255),
    "channel-text-hover": rgb(220,221,212),
    "channel-default-bg": rgb(47, 49, 54),
    "channel-default-bg-hover": rgb(57, 60, 67),
    "channel-invite-hover": rgb(210,211,212),

    "nitro-status-svg-color": rgb(220,221,222),
    "nitro-status-svg-bg": rgb(79,84,92),

    "server-more-svg-color": rgb(220,221,222),
    "server-title-bg-hover": rgb(54, 57, 63),

    "header-search-bg": rgb(32, 34, 37),

    "chat-window-bg": rgb(54, 57, 63),
    "chat-header-bg": rgb(54, 57, 63),

    "message-box-bg": rgb(54, 57, 63),
    "message-box-bg-hover": rgb(50,53,59),

    "chat-message-text-color": rgb(210,216,207),

    "active-users-bg": rgb(47, 49, 54),
    "active-users-bg-hover": rgb(52,55,60)
);

$ranks: (
    "admin": rgb(221,42,61),
    "bot": rgb(36,110,47),
    "teacher": rgb(221,101,9),
    "student": rgb(46,204,113),
);

$channel-icons: (
    "text-available": "M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z",

    "text-restricted": "M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z",

    "voice-available": "M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z",

    "voice-restricted": "M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z",

    "voice-locked": "M17 11V7C17 4.243 14.756 2 12 2C9.242 2 7 4.243 7 7V11C5.897 11 5 11.896 5 13V20C5 21.103 5.897 22 7 22H17C18.103 22 19 21.103 19 20V13C19 11.896 18.103 11 17 11ZM12 18C11.172 18 10.5 17.328 10.5 16.5C10.5 15.672 11.172 15 12 15C12.828 15 13.5 15.672 13.5 16.5C13.5 17.328 12.828 18 12 18ZM15 11H9V7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7V11Z"

);

@mixin float-left {
    float: left;
}

@mixin float-right {
    float: right;
}

@mixin clear-fix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin ellipsis-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

%border-header {
    border-bottom: 1px solid map-get($map: $colors, $key: "server-list-bg");
}

.clearfix {
    @include clear-fix();
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    &::selection:not(.user-info) {
        color: none;
    }
}

body, html {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    #server-list {
        background-color: map-get($map: $colors, $key: "server-list-bg");
        width: 70px;
        height: 100%;
        padding-top: 8px;
        @include float-left();

        .server-container {
            $transition-length: 0.2s;

            width: 48px;
            height: 48px;
            margin: 0 auto 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: map-get($map: $colors, $key: "server-list-default-server-bg");
            border-radius: 24px;
            cursor: pointer;
            transition: border-radius $transition-length, background-color $transition-length;

            img {
                width: 48px;
                height: 48px;
                border-radius: 24px;
                transition: border-radius $transition-length;
            }

            img:hover {
                border-radius: 16px / 16px;
            }

            svg path {
                fill: map-get($map: $colors, $key: "server-list-default-svg-color");
            }

            svg.green path {
                transition: fill $transition-length;
                fill: map-get($map: $colors, $key: "server-list-green-svg-color");
            }
        }

        .server-container:hover {
            border-radius: 16px / 14px;
            background-color: map-get($map: $colors, $key: "server-list-default-server-bg-hover");

            svg.green path {
                fill: map-get($map: $colors, $key: "server-list-green-svg-color-hover");
            }
        }

        .server-container.green:hover {
            background-color: map-get($map: $colors, $key: "server-list-green-server-bg-hover");
        }

        .server-separator {
            width: 32px;
            height: 1px;
            background-color: map-get($map: $colors, $key: "server-list-default-server-bg");
            margin: 0 auto 8px;
        }
    }

    #channel-list {
        background-color: map-get($map: $colors, $key: "channel-list-bg");
        width: 240px;
        height: 100%;
        @include float-left();

        #server-title {
            width: 100%;
            height: 50px;
            @extend %border-header;

            #server-title-container {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.2s;
                cursor: pointer;

                #nitro-status svg {
                    margin-right: 5px;

                    path.outer {
                        fill: map-get($map: $colors, $key: nitro-status-svg-bg);
                    }

                    path.inner {
                        fill: map-get($map: $colors, $key: nitro-status-svg-color);
                        transform: translate(5px, 2px);
                    }
                }

                #server-name {
                    font-size: 16px;
                    font-weight: 700;
                    color: map-get($map: $colors, $key: global-text-color-normal);
                    transform: translateY(-2px);
                }

                #server-more {
                    margin-left: 100px;
                    stroke: map-get($map: $colors, $key: server-more-svg-color);
                }
            }

            #server-title-container:hover {
                background-color: map-get($map: $colors, $key: server-title-bg-hover);
            }
        }

        #channel-content {
            width: 100%;
            height: calc(100% - 50px);
            padding: 10px 6px;
            overflow-y: auto;

            details {
                margin-bottom: 24px;
            }

            summary {
                font-size: 12px;
                font-weight: 900;
                color: map-get($map: $colors, $key: channel-text-inactive);
                letter-spacing: -1px;
                text-transform: uppercase;
                margin-bottom: 10px;
                cursor: pointer;

                &:focus {
                    outline: none;
                    border: none;
                }

                &:hover {
                    color: map-get($map: $colors, $key: channel-text-hover);
                }
            }

            .channel-section-container {
                width: 100%;
                padding: 0 6px 0 6px;
                font-size: 16px;
                font-weight: 500;

                .channel {
                    width: 100%;
                    height: 34px;
                    background-color: map-get($map: $colors, $key: channel-default-bg);
                    color: map-get($map: $colors, $key: channel-text-inactive);
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    padding: 0 0 0 6px;
                    position: relative;
                    cursor: pointer;

                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                        fill: map-get($map: $colors, $key: channel-text-inactive);
                    }

                    svg.invite {
                        position: absolute;
                        right: 0px;
                        display: none;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;

                        &:hover {
                            fill: map-get($map: $colors, $key: channel-invite-hover);
                        }
                    }
                }

                .channel[data-type="text-available"] svg:not(.invite) path {
                    d: path(map-get($map: $channel-icons, $key: text-available));
                }

                .channel[data-type="text-restricted"] svg:not(.invite) path {
                    d: path(map-get($map: $channel-icons, $key: text-restricted));
                }

                .channel[data-type="voice-available"] svg:not(.invite) path {
                    d: path(map-get($map: $channel-icons, $key: voice-available));
                }

                .channel[data-type="voice-restricted"] svg:not(.invite) path {
                    d: path(map-get($map: $channel-icons, $key: voice-restricted));
                }

                .channel[data-type="voice-locked"] svg:not(.invite) path {
                    d: path(map-get($map: $channel-icons, $key: voice-locked));
                }

                .channel:hover {
                    background-color: map-get($map: $colors, $key: channel-default-bg-hover);
                    color: map-get($map: $colors, $key: channel-text-hover);

                    svg.invite {
                        display: block;
                    }
                }

                .channel.active {
                    font-weight: 700;
                    color: map-get($map: $colors, $key: channel-text-active);

                    &:hover {
                        background-color: map-get($map: $colors, $key: channel-default-bg-hover);
                    }
                }
            }
        }
    }

    #chat-window {
        background-color: map-get($map: $colors, $key: "chat-window-bg");
        width: calc(100% - (70px + 240px));
        height: 100%;
        @include float-left();

        #chat-header {
            width: 100%;
            height: 50px;
            background-color: inherit;
            @extend %border-header;
            position: relative;
            overflow: hidden;

            #header-name {
                width: 130px;
                height: 50px;
                position: absolute;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .channel-icon {
                    width: 24px;
                    height: 24px;
                    fill: map-get($map: $colors, $key: channel-text-inactive);

                    path {
                        d: path(map-get($map: $channel-icons, $key: text-available));
                    }
                }

                .channel-name {
                    width: 90px;
                    height: 24px;
                    color: map-get($map: $colors, $key: channel-text-active);
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            #header-icons {
                height: 50px;
                width: 350px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: absolute;
                right: 0;
                background-color: inherit;

                svg {
                    width: 24px;
                    height: 24px;
                    viewBox: 0 0 24px 24px;
                    fill: map-get($map: $colors, $key: channel-text-inactive);
                }

                svg.active {
                    fill: map-get($map: $colors, $key: channel-text-active);
                }

                svg:hover {
                    fill: map-get($map: $colors, $key: channel-text-hover);
                }

                .search-container {
                    position: relative;
                    height: 24px;
                    width: 140px;

                    input {
                        background-color: map-get($map: $colors, $key: header-search-bg);
                        border: none;
                        height: 24px;
                        width: 140px;
                        border-radius: 6px;
                        padding: 2px 6px;
                        color: map-get($map: $colors, $key: channel-text-active);
                    }
    
                    input:focus {
                        outline: none;
                    }
    
                    input::placeholder {
                        color: map-get($map: $colors, $key: channel-text-inactive);
                    }
    
                    input::selection {
                        background-color: map-get($map: $colors, $key: global-selection-color);
                    }

                    svg {
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        right: 6px;
                        top: 4px;
                    }
                }
            }
        }

        #chat-box {
            width: calc(100% - 240px);
            height: calc(100% - 50px);
            background-color: inherit;
            @include float-left();

            #chat-messages {
                height: calc(100% - 70px);
                width: 100%;
                padding: 0 20px 0 0;
                overflow-y: auto;
                overflow-x: hidden;
                background-color: map-get($map: $colors, $key: message-box-bg);

                .message-box {
                    width: 100%;

                    .photo {
                        width: 72px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        @include float-left();

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                            cursor: pointer;
                        }
                    }

                    .message {
                        width: calc(100% - 72px);
                        height: 100%;
                        @include float-left();
                        @include clear-fix();

                        .user-info {
                            width: 100%;
                            height: 16px;
                            margin-bottom: 8px;

                            span:nth-child(1) {
                                font-size: 16px;
                                margin-right: 12px;

                                &:hover {
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }

                            @each $name, $color in $ranks {
                                span:nth-child(1)[data-rank="#{$name}"] {
                                    color: $color;
                                }
                            }
                            

                            span:nth-child(2) {
                                font-size: 11px;
                                color: map-get($map: $colors, $key: channel-text-inactive);
                            }
                        }

                        .message-content {
                            width: 100%;
                            height: calc(100% - 16px);
                            color: map-get($map: $colors, $key: chat-message-text-color);
                        }
                    }
                }

                .message-box:hover {
                    background-color: map-get($map: $colors, $key: message-box-bg-hover);
                    border-radius: 0 10px 10px 0;
                }
            }

            #chat-input {
                height: 70px;
                width: 100%;
                background-color: green;
            }
        }

        #active-users {
            width: 240px;
            height: calc(100% - 50px);
            padding: 0 0 0 10px;
            background-color: map-get($map: $colors, $key: "active-users-bg");
            @include float-left();
            overflow-y: auto;
            overflow-x: hidden;

            .user-section {
                width: 100%;
                padding: 20px 0;

                .title {
                    width: 100%;
                    height: 12px;
                    font-size: 12px;
                    letter-spacing: 0;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-left: 10px;
                    margin-bottom: 4px;
                    color: map-get($map: $colors, $key: channel-text-inactive);
                }

                .users {

                    .user {
                        width: 100%;
                        height: 42px;
                        padding: 5px 8px;
                        border-radius: 4px;
                        background-color: map-get($map: $colors, $key: active-users-bg);
                        cursor: pointer;

                        .photo {
                            width: 32px;
                            height: 32px;
                            margin-right: 8px;
                            border-radius: 16px;
                            position: relative;
                            background-position: center;
                            background-size: contain;
                            @include float-left();

                            .status {
                                position: absolute;
                            }
                        }

                        .info {
                            width: calc(100% - 40px);
                            height: 32px;
                            @include float-left();

                            .name {
                                width: 100%;
                                height: 20px;
                                line-height: 20px;
                                @include ellipsis-overflow();
                            }

                            .status {
                                width: 100%;
                                height: 12px;
                                line-height: 12px;
                                font-size: 12px;
                                color: map-get($map: $colors, $key: channel-text-inactive);
                                @include ellipsis-overflow();
                            }
                        }
                    }

                    .user:hover {
                        background-color: map-get($map: $colors, $key: active-users-bg-hover);
                    }

                    @each $name, $color in $ranks {
                        .user[data-rank="#{$name}"] .info .name {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
}